/* Help */
.help {
    display: none;
}

.help-message {
    position: absolute;
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0px;
    top: -25px;
    font-size: 14px;
    border-radius: 3px;
    white-space: nowrap;
    color: #fff;
}

.help-message:after {
    content: "";
    position: absolute;
    border-top: 8px solid rgba(0, 0, 0, 0.8);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 10px;
    top: 28px;
}

/* Pagination */
.pagination-buttons > a {
    color: black;
}

.pagination-buttons > a.current-page {
    padding: 5px;
    border-radius: 4px;
    background-color: black;
    color: white;
}

/* Loading */
.loading {
    display: none;
}

#projects, #student {
    position: relative;
}

#project-loading, #student-loading {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Bouton ajout session */
body > div.container > div > table > tbody > tr:nth-child(1) > td:nth-child(9) {
    position: relative;;
}

body > div.container > div > table > tbody > tr:nth-child(1) > td:nth-child(9) > a {
    position: absolute;
    padding-top: 10px;
}

input#add-session {
    position: absolute;
    opacity: 0;
}
