/* Bouton ajout session */
body > div.container > div > table > tbody > tr:nth-child(1) > td:nth-child(9) > a {
    position: relative;
    z-index: 99;
}

body > div.container > div > table > tbody > tr:nth-child(1) > td:nth-child(9) > input[type="submit"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}