/* Bouton ajout session */
body > div.container > div > table > tbody > tr:nth-child(1) > td:nth-child(9) {
    position: relative;;
}

body > div.container > div > table > tbody > tr:nth-child(1) > td:nth-child(9) > a {
    position: absolute;
    padding-top: 10px;
}

body > div.container > div > table > tbody > tr:nth-child(1) > td:nth-child(9) > input[type="submit"] {
    position: absolute;
    opacity: 0;
}