<div class="modal fade" id="confirm-session" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirmez-vous les informations suivantes ?
            </div>
            <div class="modal-body">
                <p class="text-left">
                    <strong><span id="session-type"></span> du <span id="session-date"></span></strong><br/>
                    <i id="session-noshow"></i></br>
                    Etudiant : <span id="session-student"></span></br>
                    <i id="new-student"></i></br>
                    Projet : <span id="session-project"></span>

                </p>
                <p id="session-price" class="text-right"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="#" id="submit" class="btn btn-success success">Confirmer</a>
            </div>
        </div>
    </div>
</div>
